<div class="wrapper" [style.width]="(openSidebart) ? '50%' : '3%'">
  <div class="wrapper-btn">
    <button (click)="toggleMenu()">
      <i class="uil uil-angle-left-b"></i>
    </button>
  </div>
<div class="wrapper-sections">
  <div class="in-wrapper">
    <ng-container *ngIf="true">
      <canvas #outputImage class="canvas-overlay"></canvas>
      <img (load)="loadedImage()" #inputImage class="input-image" [src]="'../../../../../assets/images/'+this.image" alt="">
    </ng-container>
  </div>
  <div class="in-wrapper">
    texto
  </div>
</div>
</div>
